.example-card {
    max-width: 400px;
    margin: 25px;
    border: solid 1px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
.form-container {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;

}


  .example-form mat-form-field {
    width: 100%; /* Asegura que el campo de formulario use todo el espacio disponible */
  }

  .example-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

  
  .example-full-width {
    width: 100%;
    font-size: large;
    
  }
  
